:root {
    --cor-principal: #252525
}
.text-primary {
    color: #000 !important;
}

.btn-primary {
    background-color: var(--cor-principal);
    padding: 8px 20px;
}

.btn-primary:hover {
    background-color: var(--cor-principal);
}

.btn-outline-primary {
    background-color: white;
    border-color: var(--cor-principal);
    color: var(--cor-principal);
    padding: 7px 20px;
}

.btn-outline-primary:hover {
    border-color: var(--cor-principal);
    color: var(--cor-principal) !important;
}
